.card {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: none !important;
  margin-top: 8px !important;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
  background-color: #c57e9e !important;
}

.title {
  color: white;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-shadow: 1px 0 black;
}

.subheader {
  color: #d47256 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}
