.table {
  background: #202427;
  border-radius: 8px;
  width: 90%;
  overflow: hidden;
}

.table tbody tr td {
  font-weight: 900 !important;
  font-size: 15px !important;
  color: #6d767b;
  border-bottom: 2px solid #282c2f;
  padding: 20px 25px;
}
