.panel {
  border-radius: 8px;
  height: 67vh;
  right: 15vw;
  background: white;
  box-shadow: -5px 15px 35px -26px black;
  overflow: hidden;
  position: absolute;
  top: 14vh;
  left: calc(10vw + 400px);
}
