.title {
  color: white;
  font-weight: 700 !important;
  font-size: 18px !important;
  text-shadow: 1px 0 black;
}

.subheader {
  color: #d47256 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}
