.panel {
  box-shadow: -5px 10px 24px -8px black;
}

.drawer {
  color: white;
}

.panel, .drawer {
  width: 400px;
  height: 66vh;
  position: absolute;
  border-radius: 8px;
  top: 17.9vh;
  left: 15vw;
  background: #271a33;
}
