.panel {
  box-shadow: -5px 10px 24px -8px black;
  border-radius: 8px;
  background: #271a33;
  width: 400px;
  height: 66vh;
  position: absolute;
  top: 17.9vh;
  left: 15vw;
  z-index: 2;
}

.drawer {
  color: white;
}
