.message {
  padding: 20px;
  width: max-content;
  font-size: 13px;
  font-weight: 800;
}

.message,
.messageImage {
  border-radius: 6px;
  background: white;
  margin-bottom: 10px;
}

.messageImage {
  border-width: 3px;
  border-style: solid;
  width: max-content;
  line-height: 0;
}

.self {
  background: #9c4ad5;
  color: white;
}

.selfImage {
  border-color: #9c4ad5;
}

.name {
  font-size: 12px;
}

.nameRight {
  text-align: right;
}
