.panel {
  border-radius: 8px;
  margin-top: 14vh;
  height: 67vh;
  margin-right: 15vw;
  margin-left: calc(10vw + 400px);
  background: white;
  box-shadow: -5px 15px 35px -26px black;
  overflow: hidden;
}
